body {
    background:url("/public/images/backgroundMountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position:100% 100%;
}

.post-block {
  opacity: 0.9;
}
//侧边框的透明度设置
.sidebar {
  background-color: transparent;
  opacity: 0.9;
}
//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.9);
}
//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.9;
}

//文章内容的透明度设置
.content-wrap {
  opacity: 0.9;
}

.fa-tolkien {
  background: url("/public/images/tolkien.svg");
  background-position: 0% 0%;
  background-size: 70%
  background-repeat: no-repeat;
  height: 1rem;
  width: 0.7rem;
}

